# Project Description

This is a project for forecasting growth of investment after a period of some years say after 10 years if data growth pattern remains same.

## Important imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('investment-growth-forcast.csv')

In [3]:
df.head()

    Deposit  Months  PFT_Perc      PFT  Investment
0  1/5/2016       1   0.05000  12500.0      250000
1  1/6/2016       2   0.05100  12750.0      250000
2  1/7/2016       3   0.07000  14000.0      200000
3  1/8/2016       4   0.03000   6000.0      200000
4  1/9/2016       5   0.05378  10756.0      200000

**Column names explained**
* Deposit : This column shows the date of the investment
* Months : These are total months
* PFT_Perc : This is the percentage of the profit earned
* PFT 	: This gives the total profit earned on the investment
* Investment : Total investment for the month

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
Deposit       19 non-null object
Months        19 non-null int64
PFT_Perc      19 non-null float64
PFT           19 non-null float64
Investment    19 non-null int64
dtypes: float64(2), int64(2), object(1)
memory usage: 840.0+ bytes

### Some basic questions
Which months are have top 5 highest percentage profit earning?

In [5]:
df.sort_values(by='PFT_Perc' , ascending=False).head(5)

     Deposit  Months  PFT_Perc      PFT  Investment
2   1/7/2016       3   0.07000  14000.0      200000
4   1/9/2016       5   0.05378  10756.0      200000
1   1/6/2016       2   0.05100  12750.0      250000
6  1/11/2016       7   0.05010  10020.0      200000
0   1/5/2016       1   0.05000  12500.0      250000

What are the bottom 3 months for total profit earning?

In [6]:
df.sort_values(by='PFT', ascending=True).head(3)

     Deposit  Months  PFT_Perc     PFT  Investment
3   1/8/2016       4      0.03  6000.0      200000
5  1/10/2016       6      0.03  6000.0      200000
7  1/12/2016       8      0.03  7500.0      250000